body {
    display: flex;
    justify-content: center;
    background-color: #ECE6C2;
    font-family: 'Nunito', sans-serif;
    
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.model {
    display: grid;
    grid-template-rows: 170px 170px 170px;
    grid-template-columns: 170px 170px 170px;
    background-color: red;
    border-radius: 5px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECE6C2;
    border: 10px solid;
    cursor: pointer;
    color: black
}

.box:hover{
    border: 5px solid;
}

.win{
    color: red
}

#rt {
    float: right
}

